[Unit]
Description=DMZ Service for IT490 Project

[Service]
Type=simple
ExecStart=<path to the start dmz script>

[Install]
WantedBy=multi-user.target