@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html, body {margin: 0; height: 100%;}

.loginbutton {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #2E0A0B;
    color: white; 
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    font-size: 15px;
    transition: 150ms ease;
}
    .loginbutton:hover {
        cursor: pointer;
        filter: brightness(160%);
        transition: 150ms ease;
    }

.login-signup-toggle {
    padding-bottom: 10px;
}
    


.input {
    width: 90%;
    height: 15px;
    padding: 5%;
    margin-bottom: 20px;
    border: 1px solid #acacac;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: 50ms ease;
}
    .input:focus {border: 1px solid #2E0A0B;}

.label {
    margin-bottom: 5px;
    width: 100%;
    color: #2E0A0B;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.login-area {
    margin: auto;
    width: 300px;
    display: block;
}

.layout {
    width: 30%;
    margin: auto;
}

.consoleoutput {
    padding: 7px;
    height: 75px;
    font-family: 'Courier New', sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    color: white;
    background-color: #282C34;
}

.consoletitlecontainer {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: white;
    background-color: #21252B;
}

.consoletitle {
    border-bottom: 1px solid #505050;
    padding: 5px 0px 5px 10px;
    font-size: 12px;
    width: 30%;
    background-color: #282C34;
}

.console {
    margin-top: 40px;
    border: 1px solid lightgray;
    width: 100%;
}

/* Spinner for login screen */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(15%) sepia(91%) saturate(748%) hue-rotate(186deg) brightness(86%) contrast(104%);
}
    .lds-ellipsis div {
        position: absolute;
        top: 16px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 0, 0, 0);
    }
    .lds-ellipsis div:nth-child(1) {left: 8px; animation: lds-ellipsis1 0.6s infinite;}
        .lds-ellipsis div:nth-child(2) {left: 8px; animation: lds-ellipsis2 0.6s infinite;}
        .lds-ellipsis div:nth-child(3) {left: 32px; animation: lds-ellipsis2 0.6s infinite;}
        .lds-ellipsis div:nth-child(4) {left: 56px; animation: lds-ellipsis3 0.6s infinite;}
        @keyframes lds-ellipsis1 {
            0% {transform: scale(0);}
            100% {transform: scale(1);}
        }
        @keyframes lds-ellipsis3 {
            0% {transform: scale(1);}
            100% {transform: scale(0);}
        }
        @keyframes lds-ellipsis2 {
            0% {transform: translate(0, 0);}
            100% {transform: translate(24px, 0);}
        }
